.button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  height: 24px;
  transition: transform 0.2s ease-in;
}

.button:hover {
  transform: scale(1.2);
}

.button:active {
  transform: scale(1);
}

.button_active {
  background-color: #000;
  color: #fff;
}

.button__image {
  width: 24px;
  height: 24px;
}

.button_type_filter {
  height: auto;
  border-radius: 30px;
  padding: 8px 20px;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid #000;
}

.button_type_filter:hover {
  transform: scale(1.05);
}

.button_type_filter:active {
  transform: scale(0.95);
}

.button_type_like {
  filter: brightness(0) saturate(100%) invert(19%) sepia(91%) saturate(6460%)
    hue-rotate(335deg) brightness(96%) contrast(111%);
}
