.app {
  box-sizing: border-box;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  background-image: linear-gradient(
    to right,
    #3ab5b0 0%,
    #3d99be 31%,
    #56317a 100%
  );
  padding-top: 20px;
  padding-left: calc(100vw - 100%);
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.app__page {
  width: 80vw;
  min-width: 320px;
  min-height: 95%;
  background-color: #fff;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.app__main {
  max-width: 1000px;
  margin: auto;
  padding-bottom: 50px;
}

.app__header {
  margin-bottom: 15px;
}

.app__filter {
  margin-bottom: 10px;
}

.app__card-list {
  margin: auto;
}

.app__title {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  margin: 0;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1280px) {
  .app__main {
    max-width: calc(100% - 50px);
  }
}
