.cards-list {
  margin: 0;
  padding: 0;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
}

.app__card-list {
  margin: auto;
}

@media (max-width: 1280px) {
  .cards-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 1024px) {
  .cards-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .cards-list {
    grid-template-columns: 1fr;
  }
}
